:root {
  --primary: #000000;
  --primary-light: #22211f;
  --primary-disabled: #363435;
  --primary-lighter: #454344;
  --secondary: #1d1d1d;
  --text: #11181c;
  --text-gray: #687076;
  --text-placeholder: #8890a7;
  --border: #def3e6;
  --btn-bg: #ededed;
  --input-bg: #f1f2f3;
  --background: #f8f8ff;
  --error: #e5484d;
}

html {
  height: 100%;
}

body {
  /* background-color: #8890A7; */
  font-family: "Times New Roman", serif;
  height: 100%;
  display: grid;
  place-items: center; /*shorthand for align item and justify item*/
  /* justify-items: center;
    align-items: center; */
  /* align-items: center; no use in grid as items are already align*/
  /* justify-items: center; "justify-items" is actually a property in CSS Grid, where it is used to align grid items within their grid cells along the inline (row) axis  */
  background-color: var(--background);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  background-color: var(--primary-light);
  color: white;
}
.socials-row {
  /* border: 4px solid black; */
  display: flex;
  /* background-color: #8890A7; */
}
.socials-row img {
  width: 1.5rem;
  /* height: 1.5rem; */
  padding: 0.3rem 0px 0px 0rem;
  height: auto;
  margin-right: 0.5rem;
}
/*.Google{
    padding: 0.3rem 0px 0px 0rem;
  height: auto;
} */

.socials-row > a {
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
  min-height: 2.75rem;
  display: flex;
  border: 2px solid black;
  gap: 0.75;
  color: var(--text);
  justify-content: center;
  align-items: center;
  align-content: baseline;
  text-decoration: none;
  font-size: 1.25rem;
  color: var(--text);
  padding: 0.5rem;
  border: 1px solid var(--border);
  box-sizing: border-box;
  transition: all 0.3s ease;
  box-shadow: rgba(99, 99, 99, 1.2);
}

.socials-row > a svg {
    color: var(--text);
}

.socials-row a :hover{
    background-color: var(--btn-bg);
}

.form-welcome-row{
    margin-bottom: 1rem;
}

.form-welcome-row h1{
    color: var(--text);
    font-size: 2rem;
    line-height: 2rem;
    font-weight: normal;
    margin-top: 2rem;
    margin-bottom: 0.75rem; 
}

.form-welcome-row h2{
    color: var(--text-gray);
    font-size: 1.10rem;
    font-weight: normal;
}

.divider{
    display: flex;
    flex-direction: row;
    color: var(--secondary);
    gap:16px;
    align-items: center;
    /* justify-content: center; */
}
.divider-line{
    width: 100%;
    height: 1px;
    background-color: var(--secondary);
    opacity: 0.2;
}
